@font-face {
  font-family: "Big Noodle Titling";
  src: local("Big Noodle Titling"), local("Big Noodle Titling"),
    url("../fonts/big_noodle_titling.ttf") format("truetype");
}

@font-face {
  font-family: "Big Noodle Titling Oblique";
  src: local("Big Noodle Titling Oblique"), local("Big Noodle Titling Oblique"),
    url("../fonts/big_noodle_titling_oblique.ttf") format("truetype");
}
